src/flows/PostToCurrentRecordUtility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ErrorMessageRichTextNull</name>
        <label>ErrorMessageRichTextNull</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter a message.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PostToCurrentRecordScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageRichTextStyle</name>
        <label>ErrorMessageRichTextStyle</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove unsupported formatting.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PostToCurrentRecordScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorRecordIdNullError</name>
        <label>ErrorRecordIdNullError</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No record selected.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PostToCurrentRecordScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Skip MessageRichTextNull for now, since Post To Chatter action currently doesn&apos;t support rich text.</description>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PostToChatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>RecordIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorRecordIdNullError</targetReference>
            </connector>
            <label>RecordIdNull</label>
        </rules>
        <rules>
            <name>MessageRichTextNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MessageRichText.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MessageRichText.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageRichTextNull</targetReference>
            </connector>
            <label>MessageRichTextNull</label>
        </rules>
        <rules>
            <name>MessageRichTextStyle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageRichText.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MessageRichText.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> style=&quot;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MessageRichText.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> class=&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageRichTextStyle</targetReference>
            </connector>
            <label>MessageRichTextStyle</label>
        </rules>
    </decisions>
    <description>Create a post for the current record while navigating other screens so that input is preserved.</description>
    <environments>Default</environments>
    <interviewLabel>PostToCurrentRecordUtility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PostToCurrentRecordUtility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>PostToChatter</name>
        <label>PostToChatter</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Screen_Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>MessageRichText.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>PostToCurrentRecordScreen</name>
        <label>Post To Current Record Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Output_recordId</name>
            <fieldText>&lt;p&gt;Posting to {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Output_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Error}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageRichText</name>
            <extensionName>c:DisplayRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Finish</name>
        <label>Screen_Finish</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Output_Link</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Posted! &lt;/span&gt;&lt;a href=&quot;/{!recordId}&quot; target=&quot;_blank&quot;&gt;View Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PostToCurrentRecordScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
